body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cacaca62;
}
.login-container {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 99, 71, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.9px);
  -webkit-backdrop-filter: blur(14.9px);
  border: 1px solid rgba(255, 99, 71, 0.44);
}

.espacamento-form {
  padding: 0 20px 20px 10px;
}
label {
  color: #303079;
}
.login-container > h1 {
  text-align: center;
  color: #303079;
  padding: 50px 0 30px 0 !important;
  font-size: 40pt;
}
/*
div img {
  width: 200px;
  padding-left: 500px;
}

section {
  margin: 0 auto;
  padding: 25px;
  align-content: center;
  background-color: white;
  width: 500px;
  border-radius: 10px;
  border: 1px solid;
  width: 700px;
}

button {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  background-color: rgb(91, 91, 240);
  border-radius: 5px;
  border: 1px solid;
}

input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid;
  height: 25px;
}

.conta {
  text-align: center;
}
*/
