@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap");

body {
  font-family: "Hind";
  background-color: rgba(91, 91, 240, 0.877) !important;
}

/*div {
  border: 1px solid;
}*/
/*navbar*/

.animaisPerdidos {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.card.imagem-cards {
  height: 300px;
  width: 400px;
}
img.img-fluid.imagem-cards {
  width: 100%;
}

/*Responsividade*/
