@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap");

body {
  font-family: "Hind";
  background-color: rgba(91, 91, 240, 0.877) !important;
}

/*div {
  border: 1px solid;
}*/
/*navbar*/

.navbar ul li a:hover,
.navbar ul li .nav-link.active {
  color: #ff6347;
}

#animaisPerdidos {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 70px;
}

.card > img {
  height: 300px;
  width: 400px;
}

/*Responsividade*/
@media (max-width: 991px) {
  .card img {
    width: 295px;
  }
}
