body {
  font-family: "Hind" !important;
  background-color: rgb(91, 91, 240) !important;
}

h1 {
  text-align: center;
  color: white !important;
}

.icone {
  margin: 0 auto;
  text-align: center;
  border-radius: 200px;
  border: 5px solid black;
  margin-top: 10px;
  padding: 40px;
  width: 200px;
  height: 200px;
  background-color: rgba(31, 38, 135, 0.37);
  margin-bottom: 50px;
}

div h3 {
  color: white;
}

.modal-header h1 {
  color: black !important;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info div p {
  color: rgb(255, 255, 255);
}

.info div {
  width: 650px;
  border-radius: 5px;
  border: 2px solid;
  margin: 10px;
  padding: 20px;
  background-color: #5271ff;
  display: flex;
  flex-direction: column;
}

/*TESTANDO*/
.DadosPerfil {
  background-color: #5271ff;

  padding: 20px 20px 0 20px;
}

.CampoDado {
  color: rgb(255, 255, 255);
  margin-top: 5px;
  margin-right: 10px;
  font-size: 15px;
}

.formInput {
  width: 55%;
}

.formInput input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
}

.formInput input:focus,
.formInput input:valid {
  outline: 0;
}

.formInput input:focus {
  border-bottom-color: rgb(0, 15, 20);
}

/*FIM TESTE*/

@media (max-width: 991px) {
  .info div {
    width: 370px;
  }
}

@media (max-width: 767px) {
  .info div {
    width: 500px;
  }

  .icone {
    width: 230px;
    height: 230px;
    padding: 60px;
  }
}